<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Product List <a style="float:right;" href="{% url 'product:product_create' %}">Create Product</a>
</h2>


<table>
  <tr>
      <th>Name</th>
      <th>Photo</th>

      <th>Categories</th>

      <th>Price</th>

      <th>Stock</th>

    <th>Action</th>
  </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td><img src="{{ product.photo.url }}" width="120" height="100"></td>
            <td>-- {% for cat in product.categories.all %}{{ cat.name }}&nbsp;--{% endfor %}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>
                <a href="{% url 'product:product_update' product.pk %}">Edit</a>&nbsp;
                <a href="{% url 'product:delete_product' product.pk %}">Delete</a>
            </td>
        </tr>
    {% endfor %}


</table>

</body>
</html>

