{% extends 'datatable_base.html' %}
{% load static %}
{% block title %}Product{% endblock %}
{% block pagetitle %}Product{% endblock %}
{% block addbutton %}
    <a href="{% url 'product:product_create' %}"
       class="btn btn-sm btn-secondary mx-0 shadow-sm float-right">
        <i class="fas fa-plus"></i> Add Product
    </a>
{% endblock %}
{% block table %}
    <div class="box-content">
        
            <!-- /.dropdown js__dropdown -->
            <div class="table-responsive">
                <table id="example" class="display compact nowrap" style="width:100%">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Photo</th>
                
                      <th>Categories</th>
                
                      <th>Price</th>
                
                      <th>Stock</th>
                
                    <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Photo</th>
                
                      <th>Categories</th>
                
                      <th>Price</th>
                
                      <th>Stock</th>
                
                    <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                      {% for product in products %}
                      <tr>
                          <td>{{ product.name }}</td>
                          <td><img src="{{ product.photo.url }}" width="120" height="100"></td>
                          <td>-- {% for cat in product.categories.all %}{{ cat.name }}&nbsp;--{% endfor %}</td>
                          <td>{{ product.price }}</td>
                          <td>{{ product.stock }}</td>
                          <td>
                              <a class="btn btn-warning" href="{% url 'product:product_update' product.pk %}">Edit</a>&nbsp;
                              <a class="btn btn-danger" href="{% url 'product:delete_product' product.pk %}">Delete</a>
                          </td>
                      </tr>
                  {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
