<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Product Categories List <a style="float:right;" href="{% url 'product:categories_create' %}">Create New Category</a>
</h2>


<table>
  <tr>
    <th>Category Name</th>
    <th>Action</th>
  </tr>
    {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <a href="{% url 'product:update_category' category.pk %}">Edit</a>&nbsp;
                <a href="{% url 'product:delete_category' category.pk %}">Delete</a>
            </td>
        </tr>
    {% endfor %}


</table>

</body>
</html>

